<!DOCTYPE html>
<html>
  <head>
    <title>Passport-Google (OAuth 2.0) Example</title>
  </head>
  <body>
    <% if (!user) { %>
      <p>
      <a href="/">Home</a> |
      <a href="/auth/google">Log In with Google</a>
      </p>
    <% } else { %>
      <p>
      <a href="/">Home</a> |
      <a href="/logout">Log Out</a>
      </p>
      <h2>Below is the data sent by Google</h2>
      <pre>
        <%= user.google %>
      </pre>
    <% } %>
  </body>
</html>



<!-- <!DOCTYPE html>
<html>
<head>
  <title>Facebook authentication</title>
</head>
<body>
  <h1>FACEBOOK LOGIN USING PASSPORT</h1>
  <div>
    <% if(user != undefined){ %>
      <h2>Below is the data sent by facebook</h2>
      <pre>
        <%= user.fb %>
      </pre>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/auth/facebook">Login with Facebook</a>
    <% } %>
  </div>
</body>
</html>
 -->
